<section class="intro">
  <div class="container">
	<p class="lead">
		Hi, I'm <strong class="author-name">Luuk Kenselaar</strong>, a Junior Software Engineer and Student based in Haarlem, The Netherlands.
		You can find me on <strong class="author-meta"><a href="https://twitter.com/lkenselaar>" target="_blank">Twitter</a></strong>, but you can also just send me an <strong class="author-meta"><a href="mailto:luuk@luukkenselaar.nl" target="_blank">email</a></strong>.
		Soon you will see below some posts I would like to share.
	</p>
  </div>
</section>
